table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
th{
    cursor: pointer;
}
th{
    font-weight: bold;
    text-transform: uppercase;
}
tr:nth-child(even){
    background-color: #ebebeb;
}
tr:hover{
    background-color: #ccfded;
}